# Data Analysis

In [1]:
import os
import sys

import pandas as pd

# Get the current working directory of the notebook
notebook_dir = os.getcwd()
# Add the parent directory to the system path
sys.path.append(os.path.join(notebook_dir, '../utils'))

from data_processing import DataProcessing

In [2]:
pd.set_option('max_colwidth', 800)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
file_name = "akuapem_dataset - gold_standard.csv"
path = os.path.join("../data/", file_name)

df = DataProcessing.load_data(path)
df.head(7)

,Unnamed: 0,Akuapem,Unnamed: 2,Akuapem,English
0,I belong here.,Me na mewɔ ha.,NaN,Anadwo biara ɔfrɛ no,He calls her every night
1,NaN,Me fata sɛ mewɔ ha,NaN,NaN,He calls him every night
2,NaN,ha na me wɔ,NaN,NaN,She calls her every night
3,Kwaku sings quite well.,Kwaku to dwom yiye.,NaN,NaN,He calls her every night
4,NaN,Kwaku nim nwom to,NaN,"Anɔpa yi, ohyiaa no.",She met him this morning
5,He calls her up every night.,Anadwo biara ɔfrɛ no,NaN,NaN,She met her this morning
6,NaN,ɔfrɛ no anadwo biara,NaN,NaN,He met her this morning

In [4]:
cols_to_drop = ['Unnamed: 2']
DataProcessing.drop_data_from_df(df, cols_to_drop)

,Unnamed: 0,Akuapem,Akuapem,English
0,I belong here.,Me na mewɔ ha.,Anadwo biara ɔfrɛ no,He calls her every night
1,NaN,Me fata sɛ mewɔ ha,NaN,He calls him every night
2,NaN,ha na me wɔ,NaN,She calls her every night
3,Kwaku sings quite well.,Kwaku to dwom yiye.,NaN,He calls her every night
4,NaN,Kwaku nim nwom to,"Anɔpa yi, ohyiaa no.",She met him this morning
...,...,...,...,...
687,NaN,S[n na [te,NaN,NaN
688,NaN,Ne su te s[n?,NaN,NaN
689,I ran out of ideas.,Ná minhu nea menyɛ.,NaN,NaN
690,NaN,Me nsusui[ asa,NaN,NaN
691,NaN,Menni tirimp]/adwene biara bio,NaN,NaN

In [5]:
one_to_many_cols = [0, 1]
one_to_many_df = DataProcessing.split_df_mappings(df, one_to_many_cols)
one_to_many_df

                  Unnamed: 0                          Akuapem
0             I belong here.                   Me na mewɔ ha.
1                        NaN               Me fata sɛ mewɔ ha
2                        NaN                      ha na me wɔ
3    Kwaku sings quite well.              Kwaku to dwom yiye.
4                        NaN                Kwaku nim nwom to
..                       ...                              ...
687                      NaN                      S[n na [te
688                      NaN                    Ne su te s[n?
689      I ran out of ideas.              Ná minhu nea menyɛ.
690                      NaN                  Me nsusui[ asa
691                      NaN  Menni tirimp]/adwene biara bio

[692 rows x 2 columns]

In [6]:
many_to_one_cols = [2, 3]
many_to_one_df = DataProcessing.split_df_mappings(df, many_to_one_cols)
many_to_one_df

                 Akuapem                     English
0    Anadwo biara ɔfrɛ no   He calls her every night
1                     NaN   He calls him every night
2                     NaN  She calls her every night
3                     NaN   He calls her every night
4    Anɔpa yi, ohyiaa no.  She met him this morning
..                    ...                        ...
687                   NaN                        NaN
688                   NaN                        NaN
689                   NaN                        NaN
690                   NaN                        NaN
691                   NaN                        NaN

[692 rows x 2 columns]

In [7]:
cols_to_rename = {"Unnamed: 0": "English (Source, One)", 
                  "Akuapem": "Akan (Target, Many)"
                  }
DataProcessing.rename_df_cols(one_to_many_df, cols_to_rename)

/Users/detraviousjamaribrinkley/Documents/Development/classes/cai_6307_nlp/comp_express_mt/notebook_experiments/../utils/data_processing.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=cols, inplace=True)

       English (Source, One)              Akan (Target, Many)
0             I belong here.                   Me na mewɔ ha.
1                        NaN               Me fata sɛ mewɔ ha
2                        NaN                      ha na me wɔ
3    Kwaku sings quite well.              Kwaku to dwom yiye.
4                        NaN                Kwaku nim nwom to
..                       ...                              ...
687                      NaN                      S[n na [te
688                      NaN                    Ne su te s[n?
689      I ran out of ideas.              Ná minhu nea menyɛ.
690                      NaN                  Me nsusui[ asa
691                      NaN  Menni tirimp]/adwene biara bio

[692 rows x 2 columns]

In [8]:
cols_to_rename = {"Akuapem ": "Akan (Target, Many)", 
                  "English": "English (Target, Many)"
                  }
DataProcessing.rename_df_cols(many_to_one_df, cols_to_rename)

/Users/detraviousjamaribrinkley/Documents/Development/classes/cai_6307_nlp/comp_express_mt/notebook_experiments/../utils/data_processing.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=cols, inplace=True)

      Akan (Target, Many)     English (Target, Many)
0    Anadwo biara ɔfrɛ no   He calls her every night
1                     NaN   He calls him every night
2                     NaN  She calls her every night
3                     NaN   He calls her every night
4    Anɔpa yi, ohyiaa no.  She met him this morning
..                    ...                        ...
687                   NaN                        NaN
688                   NaN                        NaN
689                   NaN                        NaN
690                   NaN                        NaN
691                   NaN                        NaN

[692 rows x 2 columns]

In [11]:
one_to_many_pt = DataProcessing.df_to_pivot_table(one_to_many_df, 'English (Source, One)', ["English (Source, One)", "Akan (Target, Many)"])
one_to_many_pt

/Users/detraviousjamaribrinkley/Documents/Development/classes/cai_6307_nlp/comp_express_mt/notebook_experiments/../utils/data_processing.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_to_update] = DataProcessing.fill_na_with_value(df, col_to_update)

Empty DataFrame
Columns: []
Index: [(Act like a man., Di wo dwuma sɛ ɔbarima), (Act like a man., Ma mmarisɛm mmra wo mu ), (Act like a man., Yɛ w'ade te sɛ onipa.), (Act like a man., Yɛ ɔkokoɔdurufoɔ ), (Almost three thousand people died., Nnipa a wɔwui no bɛduru mpem mmiɛnsa), (Almost three thousand people died., Nnipa a wɔwui no bɛyɛ mpem mmiɛnsa), (Almost three thousand people died., Nnipa bɛyɛ mpensa wuwui.), (Asamoah didn't tell Abena his secret., Asamoah anka n'ahintasɛm ankyerɛ Abena), (Asamoah didn't tell Abena his secret., Asamoah anka ne kokoam asɛm ankyerɛ Abena.), (Asamoah didn't tell Abena his secret., Asamoah de nsɛm sumaa Abena ), (Asamoah is not serious about his studies., Asamoah adesua nyɛ adeɛ a ɛho hia no ), (Asamoah is not serious about his studies., Asamoah ani nku n'adesua ho ), (Asamoah is not serious about his studies., Asamoah atoto n'adesua ase), (Asamoah is not serious about his studies., Sɛ́ Yalah no, n'adesua no ho nhia no kɛse.), (Asamoah isn't my father., Asamoah nyɛ me papa), (Asamoah isn't my father., Me papa a wɔfrɛ no ulah no nyɛ me papa.), (Asamoah isn't my father., Me papa nyɛ Asamoah ), (Asamoah isn't my father., ɛnyɛ me papa ne Asamoah ), (Be respectful to your superiors, if you have any., Sɛ wowɔ akannifoɔ a fa anidie ma wɔn ), (Be respectful to your superiors, if you have any., Sɛ wowɔ bi a,bu wo mpanyimfo.), (Be respectful to your superiors, if you have any., Sɛ wowɔ mpanimfoɔ a, bu wɔn ), (Both of my parents aren't alive., M'awofo baanu nyinaa nte nkwa mu.), (Both of my parents aren't alive., M'awofo] afiri mu ), (Both of my parents aren't alive., M'awofo] awu ), (Both of my parents aren't alive., M'awofo] nte ase), (Cain was evil., Na Cain tirimu yɛ sum ), (Cain was evil., Na Cain yɛ nipabɔne ni ), (Cain was evil., Ná Kain yɛ ɔbɔnefo.), (Can I go in there now?, Afei mɛtumi akɔ mu?), (Can I go in there now?, Afei mɛtumi awura mu?), (Can I go in there now?, Mɛtumi awura mu seesei?), (Can I go in there now?, So metumi akɔ hɔ seesei?), (Children mostly lack patience., Abotare yɛ adeɛ a mpɛn pii no ara mmɔfra nni ), (Children mostly lack patience., Adeɛ a mmɔfra nni ne abotare), (Children mostly lack patience., Mmere pii, mmofra nni ntoboase.), (Could I borrow a pencil?, M[tumi af[m wo p[nsere no?), (Could I borrow a pencil?, So na metumi atɔn pɛnsere?), (Could I borrow a pencil?, Wob[tumi de wo p[nsere no af[m me?), (Do they live with you?, So wɔne wo te?), (Do they live with you?, W]tenaa wo nky[n?), (Do they live with you?, Wo ne w]n na tenae[?), (Do you like that song?, Nnwom a wopɛ nie?), (Do you like that song?, Saa nnwom no na wopɛ?), (Do you like that song?, So w'ani gye saa dwom no ho?), (Do you think I'm made of money?, Wokaa sɛ mewɔ sika?), (Do you think I'm made of money?, Wususuw sɛ meyɛ obi a mewɔ sika?), (Do you think I'm made of money?, ɛyɛ wo sp mewɔ sika?), (Don't be sad., Mma w'abam mmu.), (Don't be sad., Mma wo werɛ nho ), (Don't be sad., Nni awerɛhoɔ ), (Don't be so reserved., Ka wo ho b[n nipa ), (Don't be so reserved., Ka wo ho k] nipa ), (Don't be so reserved., Kentene wo ho ), (Don't be so reserved., Mma w'ani nnyɛ wo totɔtotɔ.), (Don't be stupid., Ma w'ani nna hɔ ), (Don't be stupid., Nni agyimisɛm biara ), (Don't be stupid., Nni nkwaseasɛm ), (Don't be stupid., Nnyimi.), (Don't come near me. You're filthy., Mfa wo ho fin no mmɛn me ), (Don't come near me. You're filthy., Nmmɛn me, wo ho ntew.), (Don't come near me. You're filthy., Wo ho yɛ fin, mmɛn me), (Don't lose your temper., Adwoberɛw), (Don't lose your temper., Hyɛ wo ho so ), (Don't lose your temper., Ka w'akoma to wo yam ), (Don't lose your temper., Mma wo bo mfuw.), (Don't mess with me., Mfa me nni agor] ), (Don't mess with me., Mfa me nnyimi ), (Don't mess with me., Wo ne me nnyɛ basaa.), (Don't pull my leg!, Mfa me nan nsi fam!), (Don't pull my leg!, Mfa me nni agor]), (Don't pull my leg!, Nsere me ), (Don't tell my wife., Mma me yere aso nte asɛm yi ), (Don't tell my wife., Mmɔ me yere amanneɛ ), (Don't tell my wife., Nka nkyerɛ me yere.), (Get ready., Siesie wo ho.), (Get ready., Yɛ krado ), (He calls her up every night., Anadwo biara ɔfrɛ no ), (He calls her up every night., ɔfrɛ no anadwo biara ), (He came all the way from Nikko to see me off., Ɔbaa hɔ bɛhwɛɛ me.), (He came all the way from Nikko to see me off., ɔbɔɔ anamɔn firii Nikko bɛgyaa me kwan ), (He came all the way from Nikko to see me off., ɔfirii Nikko bɛgyaa me kwan ), (He can't control his desires., Ontumi nni n'akɔnnɔ ahorow so.), (He can't control his desires., ɔntumi nhyɛ n'akɔnnɔ so ), (He devoted his life to his study., Wagyae birbiara mu ama n'adesua ), (He devoted his life to his study., Watu ne ho asi hɔ ama n'adesua ), (He devoted his life to his study., Ɔde ne bere nyinaa suaa ade.), (He likes singing., Adeɛ a ɔpɛ ne nnwontoɔ ), (He likes singing., N'ani gye nnwonto ho.), (He likes singing., ɔpɛ nnwontoɔ ), (He lived in Ankara for six years., Ankara ha na ɔtenaa mfeɛ nsia ), (He lived in Ankara for six years., Mfeɛ nsia mu na ɔtenaa Ankara ), (He lived in Ankara for six years., Ɔde mfe asia traa Ankara.), (He lived in Ankara for six years., ɔtenaa Ankara mfeɛ nsia), (He was given an important mission., Wɔde dwuma titire bi hyɛɛ ne nsa ), (He was given an important mission., Wɔmaa no dwumadi titiriw bi.), (He was given an important mission., Wɔmaa no dwumasono bi ), (Her son's death broke Abena's heart., Abena adi ne babarima wuo no ho yaw pa ara ), (Her son's death broke Abena's heart., Abena babarima wuo no aha no yie ), (Her son's death broke Abena's heart., Ne babarima no wu no maa Abena koma tui.), (How many friends do you have on Facebook?, Nnamfo dodow ahe na wowɔ wɔ Fcaebook so?), ...]

[399 rows x 0 columns]

In [12]:
one_to_many_pt

Empty DataFrame
Columns: []
Index: [(Act like a man., Di wo dwuma sɛ ɔbarima), (Act like a man., Ma mmarisɛm mmra wo mu ), (Act like a man., Yɛ w'ade te sɛ onipa.), (Act like a man., Yɛ ɔkokoɔdurufoɔ ), (Almost three thousand people died., Nnipa a wɔwui no bɛduru mpem mmiɛnsa), (Almost three thousand people died., Nnipa a wɔwui no bɛyɛ mpem mmiɛnsa), (Almost three thousand people died., Nnipa bɛyɛ mpensa wuwui.), (Asamoah didn't tell Abena his secret., Asamoah anka n'ahintasɛm ankyerɛ Abena), (Asamoah didn't tell Abena his secret., Asamoah anka ne kokoam asɛm ankyerɛ Abena.), (Asamoah didn't tell Abena his secret., Asamoah de nsɛm sumaa Abena ), (Asamoah is not serious about his studies., Asamoah adesua nyɛ adeɛ a ɛho hia no ), (Asamoah is not serious about his studies., Asamoah ani nku n'adesua ho ), (Asamoah is not serious about his studies., Asamoah atoto n'adesua ase), (Asamoah is not serious about his studies., Sɛ́ Yalah no, n'adesua no ho nhia no kɛse.), (Asamoah isn't my father., Asamoah nyɛ me papa), (Asamoah isn't my father., Me papa a wɔfrɛ no ulah no nyɛ me papa.), (Asamoah isn't my father., Me papa nyɛ Asamoah ), (Asamoah isn't my father., ɛnyɛ me papa ne Asamoah ), (Be respectful to your superiors, if you have any., Sɛ wowɔ akannifoɔ a fa anidie ma wɔn ), (Be respectful to your superiors, if you have any., Sɛ wowɔ bi a,bu wo mpanyimfo.), (Be respectful to your superiors, if you have any., Sɛ wowɔ mpanimfoɔ a, bu wɔn ), (Both of my parents aren't alive., M'awofo baanu nyinaa nte nkwa mu.), (Both of my parents aren't alive., M'awofo] afiri mu ), (Both of my parents aren't alive., M'awofo] awu ), (Both of my parents aren't alive., M'awofo] nte ase), (Cain was evil., Na Cain tirimu yɛ sum ), (Cain was evil., Na Cain yɛ nipabɔne ni ), (Cain was evil., Ná Kain yɛ ɔbɔnefo.), (Can I go in there now?, Afei mɛtumi akɔ mu?), (Can I go in there now?, Afei mɛtumi awura mu?), (Can I go in there now?, Mɛtumi awura mu seesei?), (Can I go in there now?, So metumi akɔ hɔ seesei?), (Children mostly lack patience., Abotare yɛ adeɛ a mpɛn pii no ara mmɔfra nni ), (Children mostly lack patience., Adeɛ a mmɔfra nni ne abotare), (Children mostly lack patience., Mmere pii, mmofra nni ntoboase.), (Could I borrow a pencil?, M[tumi af[m wo p[nsere no?), (Could I borrow a pencil?, So na metumi atɔn pɛnsere?), (Could I borrow a pencil?, Wob[tumi de wo p[nsere no af[m me?), (Do they live with you?, So wɔne wo te?), (Do they live with you?, W]tenaa wo nky[n?), (Do they live with you?, Wo ne w]n na tenae[?), (Do you like that song?, Nnwom a wopɛ nie?), (Do you like that song?, Saa nnwom no na wopɛ?), (Do you like that song?, So w'ani gye saa dwom no ho?), (Do you think I'm made of money?, Wokaa sɛ mewɔ sika?), (Do you think I'm made of money?, Wususuw sɛ meyɛ obi a mewɔ sika?), (Do you think I'm made of money?, ɛyɛ wo sp mewɔ sika?), (Don't be sad., Mma w'abam mmu.), (Don't be sad., Mma wo werɛ nho ), (Don't be sad., Nni awerɛhoɔ ), (Don't be so reserved., Ka wo ho b[n nipa ), (Don't be so reserved., Ka wo ho k] nipa ), (Don't be so reserved., Kentene wo ho ), (Don't be so reserved., Mma w'ani nnyɛ wo totɔtotɔ.), (Don't be stupid., Ma w'ani nna hɔ ), (Don't be stupid., Nni agyimisɛm biara ), (Don't be stupid., Nni nkwaseasɛm ), (Don't be stupid., Nnyimi.), (Don't come near me. You're filthy., Mfa wo ho fin no mmɛn me ), (Don't come near me. You're filthy., Nmmɛn me, wo ho ntew.), (Don't come near me. You're filthy., Wo ho yɛ fin, mmɛn me), (Don't lose your temper., Adwoberɛw), (Don't lose your temper., Hyɛ wo ho so ), (Don't lose your temper., Ka w'akoma to wo yam ), (Don't lose your temper., Mma wo bo mfuw.), (Don't mess with me., Mfa me nni agor] ), (Don't mess with me., Mfa me nnyimi ), (Don't mess with me., Wo ne me nnyɛ basaa.), (Don't pull my leg!, Mfa me nan nsi fam!), (Don't pull my leg!, Mfa me nni agor]), (Don't pull my leg!, Nsere me ), (Don't tell my wife., Mma me yere aso nte asɛm yi ), (Don't tell my wife., Mmɔ me yere amanneɛ ), (Don't tell my wife., Nka nkyerɛ me yere.), (Get ready., Siesie wo ho.), (Get ready., Yɛ krado ), (He calls her up every night., Anadwo biara ɔfrɛ no ), (He calls her up every night., ɔfrɛ no anadwo biara ), (He came all the way from Nikko to see me off., Ɔbaa hɔ bɛhwɛɛ me.), (He came all the way from Nikko to see me off., ɔbɔɔ anamɔn firii Nikko bɛgyaa me kwan ), (He came all the way from Nikko to see me off., ɔfirii Nikko bɛgyaa me kwan ), (He can't control his desires., Ontumi nni n'akɔnnɔ ahorow so.), (He can't control his desires., ɔntumi nhyɛ n'akɔnnɔ so ), (He devoted his life to his study., Wagyae birbiara mu ama n'adesua ), (He devoted his life to his study., Watu ne ho asi hɔ ama n'adesua ), (He devoted his life to his study., Ɔde ne bere nyinaa suaa ade.), (He likes singing., Adeɛ a ɔpɛ ne nnwontoɔ ), (He likes singing., N'ani gye nnwonto ho.), (He likes singing., ɔpɛ nnwontoɔ ), (He lived in Ankara for six years., Ankara ha na ɔtenaa mfeɛ nsia ), (He lived in Ankara for six years., Mfeɛ nsia mu na ɔtenaa Ankara ), (He lived in Ankara for six years., Ɔde mfe asia traa Ankara.), (He lived in Ankara for six years., ɔtenaa Ankara mfeɛ nsia), (He was given an important mission., Wɔde dwuma titire bi hyɛɛ ne nsa ), (He was given an important mission., Wɔmaa no dwumadi titiriw bi.), (He was given an important mission., Wɔmaa no dwumasono bi ), (Her son's death broke Abena's heart., Abena adi ne babarima wuo no ho yaw pa ara ), (Her son's death broke Abena's heart., Abena babarima wuo no aha no yie ), (Her son's death broke Abena's heart., Ne babarima no wu no maa Abena koma tui.), (How many friends do you have on Facebook?, Nnamfo dodow ahe na wowɔ wɔ Fcaebook so?), ...]

[399 rows x 0 columns]

In [13]:
DataProcessing.drop_data_from_df(one_to_many_pt, dropna=True)

Empty DataFrame
Columns: []
Index: [(Act like a man., Di wo dwuma sɛ ɔbarima), (Act like a man., Ma mmarisɛm mmra wo mu ), (Act like a man., Yɛ w'ade te sɛ onipa.), (Act like a man., Yɛ ɔkokoɔdurufoɔ ), (Almost three thousand people died., Nnipa a wɔwui no bɛduru mpem mmiɛnsa), (Almost three thousand people died., Nnipa a wɔwui no bɛyɛ mpem mmiɛnsa), (Almost three thousand people died., Nnipa bɛyɛ mpensa wuwui.), (Asamoah didn't tell Abena his secret., Asamoah anka n'ahintasɛm ankyerɛ Abena), (Asamoah didn't tell Abena his secret., Asamoah anka ne kokoam asɛm ankyerɛ Abena.), (Asamoah didn't tell Abena his secret., Asamoah de nsɛm sumaa Abena ), (Asamoah is not serious about his studies., Asamoah adesua nyɛ adeɛ a ɛho hia no ), (Asamoah is not serious about his studies., Asamoah ani nku n'adesua ho ), (Asamoah is not serious about his studies., Asamoah atoto n'adesua ase), (Asamoah is not serious about his studies., Sɛ́ Yalah no, n'adesua no ho nhia no kɛse.), (Asamoah isn't my father., Asamoah nyɛ me papa), (Asamoah isn't my father., Me papa a wɔfrɛ no ulah no nyɛ me papa.), (Asamoah isn't my father., Me papa nyɛ Asamoah ), (Asamoah isn't my father., ɛnyɛ me papa ne Asamoah ), (Be respectful to your superiors, if you have any., Sɛ wowɔ akannifoɔ a fa anidie ma wɔn ), (Be respectful to your superiors, if you have any., Sɛ wowɔ bi a,bu wo mpanyimfo.), (Be respectful to your superiors, if you have any., Sɛ wowɔ mpanimfoɔ a, bu wɔn ), (Both of my parents aren't alive., M'awofo baanu nyinaa nte nkwa mu.), (Both of my parents aren't alive., M'awofo] afiri mu ), (Both of my parents aren't alive., M'awofo] awu ), (Both of my parents aren't alive., M'awofo] nte ase), (Cain was evil., Na Cain tirimu yɛ sum ), (Cain was evil., Na Cain yɛ nipabɔne ni ), (Cain was evil., Ná Kain yɛ ɔbɔnefo.), (Can I go in there now?, Afei mɛtumi akɔ mu?), (Can I go in there now?, Afei mɛtumi awura mu?), (Can I go in there now?, Mɛtumi awura mu seesei?), (Can I go in there now?, So metumi akɔ hɔ seesei?), (Children mostly lack patience., Abotare yɛ adeɛ a mpɛn pii no ara mmɔfra nni ), (Children mostly lack patience., Adeɛ a mmɔfra nni ne abotare), (Children mostly lack patience., Mmere pii, mmofra nni ntoboase.), (Could I borrow a pencil?, M[tumi af[m wo p[nsere no?), (Could I borrow a pencil?, So na metumi atɔn pɛnsere?), (Could I borrow a pencil?, Wob[tumi de wo p[nsere no af[m me?), (Do they live with you?, So wɔne wo te?), (Do they live with you?, W]tenaa wo nky[n?), (Do they live with you?, Wo ne w]n na tenae[?), (Do you like that song?, Nnwom a wopɛ nie?), (Do you like that song?, Saa nnwom no na wopɛ?), (Do you like that song?, So w'ani gye saa dwom no ho?), (Do you think I'm made of money?, Wokaa sɛ mewɔ sika?), (Do you think I'm made of money?, Wususuw sɛ meyɛ obi a mewɔ sika?), (Do you think I'm made of money?, ɛyɛ wo sp mewɔ sika?), (Don't be sad., Mma w'abam mmu.), (Don't be sad., Mma wo werɛ nho ), (Don't be sad., Nni awerɛhoɔ ), (Don't be so reserved., Ka wo ho b[n nipa ), (Don't be so reserved., Ka wo ho k] nipa ), (Don't be so reserved., Kentene wo ho ), (Don't be so reserved., Mma w'ani nnyɛ wo totɔtotɔ.), (Don't be stupid., Ma w'ani nna hɔ ), (Don't be stupid., Nni agyimisɛm biara ), (Don't be stupid., Nni nkwaseasɛm ), (Don't be stupid., Nnyimi.), (Don't come near me. You're filthy., Mfa wo ho fin no mmɛn me ), (Don't come near me. You're filthy., Nmmɛn me, wo ho ntew.), (Don't come near me. You're filthy., Wo ho yɛ fin, mmɛn me), (Don't lose your temper., Adwoberɛw), (Don't lose your temper., Hyɛ wo ho so ), (Don't lose your temper., Ka w'akoma to wo yam ), (Don't lose your temper., Mma wo bo mfuw.), (Don't mess with me., Mfa me nni agor] ), (Don't mess with me., Mfa me nnyimi ), (Don't mess with me., Wo ne me nnyɛ basaa.), (Don't pull my leg!, Mfa me nan nsi fam!), (Don't pull my leg!, Mfa me nni agor]), (Don't pull my leg!, Nsere me ), (Don't tell my wife., Mma me yere aso nte asɛm yi ), (Don't tell my wife., Mmɔ me yere amanneɛ ), (Don't tell my wife., Nka nkyerɛ me yere.), (Get ready., Siesie wo ho.), (Get ready., Yɛ krado ), (He calls her up every night., Anadwo biara ɔfrɛ no ), (He calls her up every night., ɔfrɛ no anadwo biara ), (He came all the way from Nikko to see me off., Ɔbaa hɔ bɛhwɛɛ me.), (He came all the way from Nikko to see me off., ɔbɔɔ anamɔn firii Nikko bɛgyaa me kwan ), (He came all the way from Nikko to see me off., ɔfirii Nikko bɛgyaa me kwan ), (He can't control his desires., Ontumi nni n'akɔnnɔ ahorow so.), (He can't control his desires., ɔntumi nhyɛ n'akɔnnɔ so ), (He devoted his life to his study., Wagyae birbiara mu ama n'adesua ), (He devoted his life to his study., Watu ne ho asi hɔ ama n'adesua ), (He devoted his life to his study., Ɔde ne bere nyinaa suaa ade.), (He likes singing., Adeɛ a ɔpɛ ne nnwontoɔ ), (He likes singing., N'ani gye nnwonto ho.), (He likes singing., ɔpɛ nnwontoɔ ), (He lived in Ankara for six years., Ankara ha na ɔtenaa mfeɛ nsia ), (He lived in Ankara for six years., Mfeɛ nsia mu na ɔtenaa Ankara ), (He lived in Ankara for six years., Ɔde mfe asia traa Ankara.), (He lived in Ankara for six years., ɔtenaa Ankara mfeɛ nsia), (He was given an important mission., Wɔde dwuma titire bi hyɛɛ ne nsa ), (He was given an important mission., Wɔmaa no dwumadi titiriw bi.), (He was given an important mission., Wɔmaa no dwumasono bi ), (Her son's death broke Abena's heart., Abena adi ne babarima wuo no ho yaw pa ara ), (Her son's death broke Abena's heart., Abena babarima wuo no aha no yie ), (Her son's death broke Abena's heart., Ne babarima no wu no maa Abena koma tui.), (How many friends do you have on Facebook?, Nnamfo dodow ahe na wowɔ wɔ Fcaebook so?), ...]

[399 rows x 0 columns]

### NaN exists in Akan (Target, Many)

In [21]:
one_to_many_df.iloc[: , [1]]

                 Akan (Target, Many)
0                     Me na mewɔ ha.
1                 Me fata sɛ mewɔ ha
2                        ha na me wɔ
3                Kwaku to dwom yiye.
4                  Kwaku nim nwom to
..                               ...
687                      S[n na [te
688                    Ne su te s[n?
689              Ná minhu nea menyɛ.
690                  Me nsusui[ asa
691  Menni tirimp]/adwene biara bio

[692 rows x 1 columns]

In [22]:
one_to_many_df.iloc[: , [1]].dropna()

                 Akan (Target, Many)
0                     Me na mewɔ ha.
1                 Me fata sɛ mewɔ ha
2                        ha na me wɔ
3                Kwaku to dwom yiye.
4                  Kwaku nim nwom to
..                               ...
687                      S[n na [te
688                    Ne su te s[n?
689              Ná minhu nea menyɛ.
690                  Me nsusui[ asa
691  Menni tirimp]/adwene biara bio

[399 rows x 1 columns]

### No NaN in English (Source, One)

In [23]:
one_to_many_df.iloc[: , [0]]

       English (Source, One)
0             I belong here.
1             I belong here.
2             I belong here.
3    Kwaku sings quite well.
4    Kwaku sings quite well.
..                       ...
687          What's it like?
688          What's it like?
689      I ran out of ideas.
690      I ran out of ideas.
691      I ran out of ideas.

[692 rows x 1 columns]

In [24]:
one_to_many_df.iloc[: , [0]].dropna()

       English (Source, One)
0             I belong here.
1             I belong here.
2             I belong here.
3    Kwaku sings quite well.
4    Kwaku sings quite well.
..                       ...
687          What's it like?
688          What's it like?
689      I ran out of ideas.
690      I ran out of ideas.
691      I ran out of ideas.

[692 rows x 1 columns]